@charset "utf-8";

html {
  background: rgb(45, 110, 154);
  font-family: Verdana, Geneva, sans-serif;
  height: 100%;
}

body {
  background: rgb(182, 255, 145);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  margin: 0px auto;
  min-width: 320px;
  max-width: 1080px;
  width: 100%;
  float: none;
}

h2 {
  margin-left: auto;
  margin-right: auto;
  border: 0;
  padding: 0;
  color: red;
  text-align: center;
}


table {
  margin-left: auto;
  margin-right: auto;
}

th {
  background: wheat;
}

tr {
  margin: 0 0 10rem 0;
}

td {
  padding-left: 7.5px;
  padding-right: 7.5px;
  width: 25%;
  text-align: center;
}

tr:nth-child(odd) {
  background: #ccc;
}

button {  
  border: solid 2px #425955;
  color: black;
  border-color: #0000;
  position: relative;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  top: 50%;
  left: 45%;
}

button:hover {
  background-color:gray;
}